/.vscode
/bootstrap-5.1.3-dist
/bootstrap-5.1.3-dist.zip
/Django-Ajax-Example-master.zip
/django-ajax-xhr-main.zip
/django-channels-chat-master.zip
/django_ajax_mysql
/how-to-integrate-ajax-with-django-applications-master.zip
/mysql scripts
/mysql.png
/Project
/PYTHON-FXPHD - NUK227 Python for NUKE and Gizmology
/Udemy - Django 4 and Python Full-Stack Developer Masterclass
/WhatsApp Image 2022-03-15 at 7.43.49 PM (1).jpeg
/WhatsApp Image 2022-03-15 at 7.43.49 PM (2).jpeg
/WhatsApp Image 2022-03-15 at 7.43.49 PM.jpeg