{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
<title>Django Ajax</title>
</head>

<body class="bg-slate-100 px-8 py-8">
<form action="" method="post">
    {% csrf_token %}
    <div class="imgcontainer">
      {% comment %} <img src="img_avatar2.png" alt="Avatar" class="avatar"> {% endcomment %}
    </div>
  
    <div class="text-center ring-2 ring-red-500 bg-red-100 center px-8 py-8 rounded-lg">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit"  class="bext-center ring-2 ring-green-500 center px-2 py-2 rounded-lg bg-green-200">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br>
      <br>
        <div class="container"  >
        <button type="button" class=" ring-2 ring-yellow-500  px-2 py-2 rounded-lg bg-yellow-200">Cancel</button>
        <span  class=" ring-2 ring-red-500 px-2 py-2 rounded-lg bg-red-200">Forgot <a href="#">password?</a></span>
        </div>
    </div>
  
  </form>
</body>