<html>
<head>
    <title> DB to Dropdown List</title>
</head>
<body>
    <h1>DB fetched data inside Dropdown</h1>
    <select>
        <oprion disables="true" selected>Employee Name</option>
            {% for results in showemp %}
            <option>{{results.empname}} </option>
            {% endfor%}
        </select>

        <select>
            <oprion disables="true" selected>Employee age</option>
                {% for results in showemp %}
                <option>{{results.empname}} </option>
                {% endfor%}
            </select>    
    </body>
    </html>        




