<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="css/cdn.tailwindcss.com.css"></script>
<script src="js/validation_gbm.js"></script>
<script src="https://unpkg.com/alpinejs" defer></script>
<script src="js/jquery.min.js"></script>
<script src="js/Util.js"></script>
<script src="js/Helper.js"></script>

<script src="https://unpkg.com/alpinejs@3.9.5/dist/cdn.min.js"></script>



<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid rgba(248, 248, 252, 0.246);
        /* #9ea7da; */

        text-align: left;
        padding: 8px;

    }

    tr:nth-child(even) {
        background-color: rgb(165 180 252);

    }
</style>
<script type="text/javascript">

    function loadAgeSelector() {
        // var startyear = 1984;
        // var endyear = new Date().getFullYear();
        var startyear = new Date().getFullYear();
        var endyear = 1984;
        for (var i = startyear; i >= endyear; i--) {
            node = document.createElement("Option");
            textnode = document.createTextNode(i);
            node.appendChild(textnode);
            document.getElementById("Years_1").appendChild(node);
        }
    }



</script>
<title> Search PDF </title>


<body class="text-1xl font-semibold bg-gradient-to-r from-sky-100 to-indigo-400" onload="loadAgeSelector()">
    <div class=" h-screen sticky ">
        <!-- {% csrf_token %} -->

        <form action="#" class="w-full" name="GBM">
            <div class=" mx-auto px-8 ">
                <h1
                    class="text-2xl uppercase font-semibold  py-6 text-center px-12  w-full bg-indigo-500 opacity-500  rounded uppercase text-white  px-4 py-2">
                    GBM PDF UPLOAD</h1>
                <p class="text-m uppercase text-center text-indigo-900">Please provide information to make an entry</p>
                <hr>
            </div>

            <div class=" mx-auto px-8">
                <div class="flex justify-between py-6" >
                <!-- x-data="{
                    entry : ''
                }" -->
                
                    <div class="rounded text-indigo-900">Step 1* <br>
                        <input class="block w-full text-sm text-slate-500
                        file:mr-4 file:py-2 file:px-4
                        file:rounded-full file:border-0
                        file:text-sm file:font-semibold
                        file:bg-indigo-500 file:text-white bg-indigo-100
                        hover:file:bg-indigo-400
                        opacity-500  rounded-full  
                        " type="file" id="myFile" name="filename" onchange="fileValidation(this)"
                            onclick="fileValidation_to_year()">
                    </div>
                    <div class="rounded text-indigo-900">Step 2* <br>
                        Year: 
                        <select disabled=true class="rounded-full bg-indigo-100  px-4 py-2 outline-none" value="b"
                            name="Years_1" id="Years_1" onchange="fileValidation_to_entry_type()">
                            <option selected="selected" class="h-1/3" value="a" name="Years">Select Year</option>
                        </select>
                    </div>
                    <div class=" rounded text-indigo-900" >Step 3* <br>
                        <p>Entry Type:</p>
                        
                        <!-- <div>
                            <input type="radio" name='fresh'  value="Fresh" x-model="entry" onchange="fileValidation_to_pdf_key_submit()"> 
                            <label for="fresh" @click="entry = 'Fresh'">Fresh Entry</label><br>

                            <input type="radio" name='update' value="Update" x-model="entry" onchange="fileValidation_to_pdf_key_update()">
                            <label for="update" @click="entry = 'Update'">Update Entry</label><br>
                            <br>
                            Answer: <span x-text="entry"></span>
                        </div> -->
 
    
                        <input disabled=true checked  type="radio" id="submit" name="submit" value="submit" onchange="fileValidation_to_pdf_key_submit()"> </input>
                        <label for="submit">Fresh Entry</label><br>
                        <input disabled=true type="radio" id="update" name="submit" value="update" onchange="fileValidation_to_pdf_key_update()"> </input>
                        <label for="update">Update Entry</label>

 
                    </div>
                    <div class="rounded text-indigo-900">
                        Step 3** <br>
                        PDF Code : <select disabled=true class="rounded-full bg-indigo-100  px-4 py-2 outline-none"
                            value="key" name="pdf_key" id="pdf_key">
                            <option selected="selected" class="h-1/3" value="key_1" name="pdf_key">Select PDF key
                            </option>
                            <option>Sample Data</option>
                        </select>
                    </div>

                </div>

                <table class="table-auto uppercase rounded text-indigo-900" id="table">
                    <p class=" rounded text-indigo-900">Step 4*</p>
                    <thead>
                        <tr>
                            
                            <th class="bg-indigo-500 opacity-500  rounded uppercase text-white  px-4 py-2">
                                CATEGORIES</th>
                            <TH width="20%" class="bg-indigo-500 opacity-500  rounded uppercase text-white  px-4 py-2">
                                START PAGE</TH>
                            <TH width="20%" class="bg-indigo-500 opacity-500  rounded uppercase text-white  px-4 py-2">
                                END PAGE</TH>
                        </tr>
                    </thead>
                    <tbody class="uppercase">
                        <!-- <x-data="{ filetype: [['bal_sht','Balance Sheets'], ['chg_n_mem','Change In Membership'], ['pol_nd_stfrls','Policies And StaffRules'],['sac_pow','Sanctioning Power'],['chq_sign_pow','Cheque Signing Power']]}"> -->
                        <!-- <template x-for="file in filetype"> -->
                        <tr class="bg-indigo-200  text-indigo-900">
                            <td class=" hover:bg-indigo-100">
                                <div class=" flex justify-between w-full items-center hover:bg-indigo-100">
                                    <!-- <span class="text-lg font-normal" x-text="file[1]" ></span> -->
                                    <!-- <input type="checkbox" > -->
                                    Balance Sheets
                                </div>
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" class="your_class" type="number" id="s_pg0"
                                    onchange="fileValidation_to_s_page0()"> </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" class="your_class" type="number" id="e_pg0"
                                    onchange="fileValidation_number0()" onclick="only_number()">
                            </td>
                        </tr>

                        <tr class="bg-indigo-200  text-indigo-900">
                            <td class=" hover:bg-indigo-100">
                                <div class=" flex justify-between w-full items-center hover:bg-indigo-100">
                                    <!-- <span class="text-lg font-normal" x-text="file[1]" ></span> -->
                                    <!-- <input type="checkbox" > -->
                                    Change In Membership
                                </div>
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" step="0" type="number" id="s_pg1"
                                    onchange="fileValidation_to_s_page1()"> </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="e_pg1" onchange="fileValidation_number1()">
                            </td>
                        </tr>

                        <tr class="bg-indigo-200  text-indigo-900">
                            <td class=" hover:bg-indigo-100">
                                <div class=" flex justify-between w-full items-center hover:bg-indigo-100">
                                    <!-- <span class="text-lg font-normal" x-text="file[1]" ></span> -->
                                    <!-- <input type="checkbox" > -->
                                    Policies And StaffRules
                                </div>
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="s_pg2" onchange="fileValidation_to_s_page2()">
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="e_pg2" onchange="fileValidation_number2()">
                            </td>
                        </tr>

                        <tr class="bg-indigo-200  text-indigo-900">
                            <td class=" hover:bg-indigo-100">
                                <div class=" flex justify-between w-full items-center hover:bg-indigo-100">
                                    <!-- <span class="text-lg font-normal" x-text="file[1]" ></span> -->
                                    <!-- <input type="checkbox" > -->
                                    Sanctioning Power
                                </div>
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="s_pg3" onchange="fileValidation_to_s_page3()">
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="e_pg3" onchange="fileValidation_number3()">
                            </td>
                        </tr>

                        <tr class="bg-indigo-200  text-indigo-900">
                            <td class=" hover:bg-indigo-100">
                                <div class=" flex justify-between w-full items-center hover:bg-indigo-100">
                                    <!-- <span class="text-lg font-normal" x-text="file[1]" ></span> -->
                                    <!-- <input type="checkbox" > -->
                                    Cheque Signing Power
                                </div>
                            </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="number" type="number" id="s_pg4"
                                    onchange="fileValidation_to_s_page4()"> </td>
                            <td><input class="w-full p-2 outline-none hover:bg-indigo-100 numeric integer decimeltext"
                                    min="0" max="" type="number" id="e_pg4" onchange="fileValidation_number4()">
                            </td>
                        </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class=" mx-auto flex justify-center gap-2 py-4 text-center  w-full">
                <!-- {% csrf_token %} -->

                <input type="submit" name="submit" id="submit" value="Submit" onclick="Submit_check()"
                    class="bg-indigo-500 opacity-500 hover:bg-indigo-400 rounded uppercase text-white  px-4 py-2 hover:-translate-y-1 transition ease-in-out delay-150 hover:scale-110 duration-300" />

                <!-- {% csrf_token %} -->


                <!-- <input  type="submit" name="update" id="update" value="UPDATE"  onclick="Submit_check()"
                class=" w-22 bg-indigo-500 opacity-500 hover:bg-indigo-400 rounded uppercase text-white  px-4 py-2 hover:-translate-y-1 transition ease-in-out delay-150 hover:scale-110 duration-300"></input> -->
            </div>

        </form>
    </div>
</body>

</html>