{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <title>Django Ajax</title>
</head>

<body class="bg-slate-100 px-8 py-8">
    <div class="item-center">
        <div class="">
            <h2 class="text-center ring-2 ring-red-500 bg-red-100 center px-8 py-8 rounded-lg">
                Django Function Based View Ajax</h2>
            
                <br>
            
            <div class="flex justify-between py-6 px-6 ring-2 ring-black rounded-lg">
                
                <div class="justify-between  text-black text-left px-2">
                    <form action="" method="post" class="justify-between  text-black text-left">

                        <div class=" rounded-lg">
                            <h2 class="text-center ring-2 ring-green-500 center px-8 py-8 rounded-lg bg-green-200">Add Update User</h2>

                        </div>
                        <br>
                        <div class="ring-2 ring-gray-900 px-2 py-2 rounded-lg ">
                        <table > 
                            {% csrf_token %}
                            
                                <!-- {{form}} -->
                                <tr>
                                    <th><label for="id_name">Name:</label></th>
                                    <td class="border-black rounded-lg ">
                                
                                      <input type="text" name="name" maxlength="70" required id="id_name" class="ring-2 ring-gray-700 rounded-lg bg-white text-black text-left"/>
                                
                                
                                    </td>
                                  </tr>
                                
                                  <tr>
                                    <th><label for="id_email">Email:</label></th>
                                    <td class="border-black rounded-lg ">
                                
                                      <input type="text" name="email" maxlength="100" required id="id_email" class="ring-2 ring-gray-700 rounded-lg bg-white text-black text-left" />
                                
                                
                                    </td>
                                  </tr>
                                
                                  <tr>
                                    <th><label for="id_password">Password:</label></th>
                                    <td class="border-black rounded-lg ">
                                
                                      <input type="text" name="password" maxlength="100" required id="id_password" class="ring-2 ring-gray-700 rounded-lg bg-white text-black text-left" />
                                
                                
                                
                                
                                    </td>
                                  </tr>
                          
                            
                        </table>
                    </div>
                        {% csrf_token %}
                        <br>
                        <input type="button" id="btnsave" value='Submit' class="bext-center ring-2 ring-green-500 center px-2 py-2 rounded-lg bg-green-200"> </input>


                    </form>
                </div>
                <div class="">
                    <h2 class="text-center text-center ring-2 ring-green-500 center px-8 py-8 rounded-lg bg-green-200">User Information</h2>
                    <br><table class="table table-hover">
                        <thead>
                            <tr>
                                <th  scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">PASSWORD</th>
                                <th scope="col">Action</th>
                            </tr>

                        </thead>
                        <tbody id="tbody">
                            {% for st in stu %}
                            <tr>
                                <td>{{st.id}}_Extnd</td>
                                <td>{{st.name}}_Extnd</td>
                                <td>{{st.email}}_Extnd</td>
                                <td>{{st.password}}_Extnd</td>
                                <td>
                                    <input type="button" data-sid="{{st.id}}" class="btn btn-warning btn-edit"
                                        value="Edit">
                                    <input type="button" data-sid="{{st.id}}" class="btn btn-danger btn-edit"
                                        value="Delete">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div>

                <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
                <script src="{% static 'js/bootstrap.js' %}"></script>
                <script src="{% static 'js/jquery.js' %}"></script>
                <script src="{% static 'js/popper.js' %}"></script>
               <!-- <script>

                    console.log({{ form }}); 

                </script> -->

                {% include "enroll/ajax.html" %}

</body>

</html>